Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: Inter, sans-serif;
  font-feature-settings: 'cv11', 'ss01';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
